<% content_for :title do %>The Stats Don't Lie<% end %>

<h1>
  The Stats Don't Lie

  <span class="clock">
    <span class="value"></span>
  </span>
</h1>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wally" data-view="Profile" data-title="Wally" style="background-color:#ff9618"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hardy" data-view="Profile" data-title="Hardy" style="background-color:#96bf48;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="trez" data-view="Profile" data-title="Trez" style="background-color:#96bf48;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="luis" data-view="Profile" data-title="Luis" style="background-color:#96bf48;"></div>
    </li>
  </ul>
</div>
